#tablearea
  #top-side
    .color-info
      #top-name
        .b-player Black
  .clear
  #container-chessboard
    #chessboard
    button#choose-w.choose White
    button#choose-b.choose Black
  #container-info
    #container-move-list
      #move-list
        - for (var move in game_state.moves)
          .move-row
            span.move-num #{parseInt(move)+1}.
            span.move= game_state.moves[move][0]
            - if (game_state.moves[move][1])
              span.move= game_state.moves[move][1]
    #container-misc
      #container-captured
        #captured-white-pieces
        #captured-black-pieces
      #container-buttons
        button#resign Resign
        button#draw Draw
        button#rematch Rematch
    .clear
    #container-chat
      #chat-window
      form#chat
        input(type="text")#chat-input
        button.send-message Send
  .clear
  #bottom-side
    .color-info
      #bottom-name
        .w-player White
.clear
#announcement-area
  h2#info

script(type="text/javascript", src="/media/js/chessboard.js")
:javascript
  | var host = "#{host}";
  | var game_id = "#{game_id}";
  | var state = "#{state}";
  | var chosen_colors = !{JSON.stringify(chosen_colors)};
  | var game_state = !{JSON.stringify(game_state)};
  | var player_state = !{JSON.stringify(player_state)};

  | var a = new ApplicationView({ model: new Application() });
  | a.model.loadFen(game_state.fen);
  | a.highlightMove(game_state.last_move);
