#tablearea
  #boardarea
    #chessboard
    button#choose-w.choose White
    button#choose-b.choose Black
    // #turn
  #infoarea
    #top-side.color-info
      #top-name
        .b-player
      .clear
      #top-captured
    #bottom-side.color-info
      #bottom-captured
      .clear
      #bottom-name
        .w-player
.clear
#announcement-area
  h2#info

script(type="text/javascript", src="/media/js/chessboard.js")
:javascript
  | var host = "#{host}";
  | var game_id = "#{game_id}";
  | var chosen_colors = !{chosen_colors};
  | var game_state = !{game_state};
  | var player_state = !{player_state};

  | var a = new ApplicationView({ model: new Application() });
  | a.model.loadFen(game_state.fen);
  | a.highlightMove(game_state.last_move);
