table(id="chessboard", cellpadding=0, cellspacing=0)
  - var cols = '87654321'
  - var rows = 'abcdefgh'
  - for (var i in cols)
    tr
      - for (var j in rows)
        - var class = ((parseInt(cols[i])+rows[j].charCodeAt(0)) % 2 == 1) ? 'white-tile' : 'black-tile'
        td(width="45px", height="45px", id=rows[j]+cols[i], class=class)
          div

h2#turn
#table_info
  | Pick a color:
  input(type="submit", value="white", id="pick_white")
  input(type="submit", value="black", id="pick_black")

:javascript
  | var chess = new Chess();
  | var game_id = "#{game_id}";
  | var game_state = !{game_state};
  | var your_color = "#{your_color}";
  | var fen = "#{fen}";
  | var selected;
  | initialize();
